main {
    height: 100vh;
    width: 100%;
}

.header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header .row {
    background-color: var(--Dark-Grayish-Blue);
    border-radius: var(--border-radius);
}

.header .flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 2.2rem 3rem 2.2rem;
    gap: 1.7rem;
}

.header .advice {
    text-align: center;
}

.header .line {
    width: 100%;
}

.header .dice {
    background-color: var(--Neon-Green);
    width: 52px;
    height: 52px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: -10%; /* This will hang the dice halfway off the bottom */
  left: 50%; /* Start at the horizontal center of the container */
  transform: translateX(-50%);
  transition: var(--animation-smooth);
}

.header .dice:hover {
    box-shadow: 1px 4px 15px 0px hsla(150, 100%, 66%, 0.47), 0px 6px 20px 10px hsla(150, 100%, 66%, 0.61); /* Adjust values as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(420deg);
  }
}

/* Add a class for animating the SVG */
.rotate {
  animation: rotate 0.9s infinite linear;
}




